# Building a Full ETL Pipeline for Mobile Payments Data Using Python, Pandas, and PostgreSQL
### An ETL Assignment
#### Author: Daniel Wanjala
#### Date: Today

## Cover Page
### Course: Data Warehousing
### Semester: Semester 2 / Year 1

## Introduction
In recent years, mobile payments have gained significant traction globally, transforming how individuals and businesses conduct financial transactions. This project aims to build a comprehensive ETL (Extract, Transform, Load) pipeline that processes historical mobile payments data, enabling stakeholders to derive meaningful insights from the dataset. The use of Python, Pandas, and PostgreSQL will facilitate efficient data handling and storage, preparing the data for analysis and reporting.

## Problem Statement
### Title: Building a Full ETL Pipeline for Mobile Payments Data Using Python, Pandas, and PostgreSQL

**Context:**  
Mobile payments have seen a rapid increase in adoption, reflected in the data available. This dataset captures various metrics related to mobile payment transactions, including active agents, registered accounts, and transaction volumes and values over several years. Organizations seeking to leverage this data for analysis must ensure that it is clean, structured, and accessible.

**Challenge:**  
The challenge is to design and implement an ETL pipeline that extracts raw mobile payments data from a CSV file, transforms it into a clean and structured format, and loads it into a PostgreSQL database for analytics and reporting.

**Objectives:**  
1. Extract data from the CSV file, ensuring accurate capture of all relevant records.
2. Clean the data by addressing missing values, converting data types, and ensuring consistency.
3. Load the transformed data into a PostgreSQL database to facilitate future analysis.
4. Validate the integrity and accuracy of the loaded data through verification processes.

**Expected Outcomes:**  
- A functional ETL pipeline that extracts, transforms, and loads mobile payments data.
- Comprehensive documentation of the ETL process, including code explanations and transformation logic.
- Validation checks ensuring that the data loaded into the database maintains its integrity.

**Potential Impact:**  
Implementing this ETL pipeline will provide stakeholders with structured mobile payments data, enhancing decision-making capabilities, trend analysis, and reporting efficiency.

## Project Objectives
- Develop an ETL pipeline that efficiently processes mobile payments data.
- Ensure data quality and integrity through robust cleaning and validation methods.
- Enable structured storage of data in PostgreSQL for easy access and analysis.

## Data Source
The dataset utilized for this project is sourced from a CSV file named "Mobile Payments (1).csv". It encompasses historical data on mobile payments across several years, including information on active agents, registered accounts, and transaction volumes and values. Got it from CBK

## Dataset Breakdown
The dataset consists of several columns, each representing a specific metric related to mobile payments:

1. **Year**: Indicates the year of the recorded data (Integer).
2. **Month**: Indicates the month of the recorded data (String).
3. **Active Agents**: Represents the number of active mobile money agents (Integer).
4. **Total Registered Mobile Money Accounts (Millions)**: Total number of registered mobile money accounts in millions (Float).
5. **Total Agent Cash in Cash Out (Volume Million)**: Volume of cash transactions handled by agents in million units (Float).
6. **Total Agent Cash in Cash Out (Value KSh billions)**: Monetary value of cash transactions in Kenyan Shillings (KSh), measured in billions (Float).

Each row corresponds to a specific month and year, enabling time-based analysis of trends in mobile payments.

## ETL Pipeline Overview
This section outlines the three main components of the ETL pipeline:
1. **Extract**: The retrieval of raw data from the CSV file.
2. **Transform**: The cleaning, type conversion, and feature engineering of the data.
3. **Load**: The insertion of the cleaned data into a PostgreSQL database for reporting and analysis.

## Extracting Data
In this section, describe the extraction process of reading the CSV file into a DataFrame using Python's Pandas library. Outline the importance of accurately capturing the data from the source.
### 1. Import Necessary Libraries

In [1]:
# Mobile Payments ETL Project

# ==========================
# 1. Import Libraries
# ==========================
import pandas as pd
import sqlite3

In [2]:
# ==========================
# 2. Extract Data
# ==========================
# Read CSV file
csv_file = 'mobile_payments.csv'  # Make sure the CSV is in the same folder as this notebook
df = pd.read_csv(csv_file)

In [3]:
# Show first few rows
print("Initial data preview:")
display(df.head())

Initial data preview:

,Year,Month,Active Agents,Total Registered Mobile Money Accounts (Millions),Total Agent Cash in Cash Out (Volume Million),Total Agent Cash in Cash Out (Value KSh billions)
0,2025,February,394853,84.56,267.88,636.21
1,2025,January,382873,83.40,294.62,697.51
2,2024,December,381116,82.43,309.28,753.45
3,2024,November,383624,81.55,297.02,707.27
4,2024,October,358621,80.82,215.26,722.28

In [4]:
# Check structure
print("\nData types and missing values:")
print(df.info())
print(df.isnull().sum())

Data types and missing values:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216 entries, 0 to 215
Data columns (total 6 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Year                                               216 non-null    int64
 1   Month                                              216 non-null    object
 2   Active Agents                                      216 non-null    int64
 3   Total Registered Mobile Money Accounts (Millions)  216 non-null    float64
 4   Total Agent Cash in Cash Out (Volume Million)      216 non-null    float64
 5   Total Agent Cash in Cash Out (Value KSh billions)  216 non-null    float64
dtypes: float64(3), int64(2), object(1)
memory usage: 10.3+ KB
None
Year                                                 0
Month                                                0
Active Agents                                        0
Total Registered Mobile Money Accounts (Millions)    0
Total Agent Cash in Cash Out (Volume Million)        0
Total Agent Cash in Cash Out (Value KSh billions)    0
dtype: int64

In [5]:
# ==========================
# 3. Transform Data
# ==========================

# --- 3.1 Data Type Conversion ---
print("\nConverting data types...")
df['Year'] = df['Year'].astype(int)
df['Total Registered Mobile Money Accounts (Millions)'] = df['Total Registered Mobile Money Accounts (Millions)'].astype(float)
df['Total Agent Cash in Cash Out (Volume Million)'] = df['Total Agent Cash in Cash Out (Volume Million)'].astype(float)
df['Total Agent Cash in Cash Out (Value KSh billions)'] = df['Total Agent Cash in Cash Out (Value KSh billions)'].astype(float)

Converting data types...

In [6]:
# --- 3.2 Handle Missing Values ---
print("\nHandling missing values...")
# Drop rows with missing values (or you can fill them if you prefer)
df.dropna(inplace=True)

Handling missing values...

In [7]:
# --- 3.3 Feature Engineering ---
# Combine Year and Month into a single Date column
print("\nCreating 'Date' column...")
df['Date'] = pd.to_datetime(df['Month'] + ' ' + df['Year'].astype(str), format='%B %Y')

Creating 'Date' column...

In [8]:
# Reorder columns (optional)
df = df[['Date', 'Year', 'Month', 'Active Agents', 
         'Total Registered Mobile Money Accounts (Millions)', 
         'Total Agent Cash in Cash Out (Volume Million)', 
         'Total Agent Cash in Cash Out (Value KSh billions)']]

In [9]:
# Show transformed data
print("\nData after transformation:")
display(df.head())

Data after transformation:

,Date,Year,Month,Active Agents,Total Registered Mobile Money Accounts (Millions),Total Agent Cash in Cash Out (Volume Million),Total Agent Cash in Cash Out (Value KSh billions)
0,2025-02-01,2025,February,394853,84.56,267.88,636.21
1,2025-01-01,2025,January,382873,83.40,294.62,697.51
2,2024-12-01,2024,December,381116,82.43,309.28,753.45
3,2024-11-01,2024,November,383624,81.55,297.02,707.27
4,2024-10-01,2024,October,358621,80.82,215.26,722.28

In [10]:
# ==========================
# 4. Load Data
# ==========================

# --- 4.1 Connect to SQLite Database ---
db_file = 'mobile_payments.db'  # Will be created if it doesn't exist
conn = sqlite3.connect(db_file)
cursor = conn.cursor()

In [11]:
# --- 4.2 Create Table ---
print("\nCreating table in SQLite database...")
create_table_query = """
CREATE TABLE IF NOT EXISTS mobile_payments (
    Date TEXT,
    Year INTEGER,
    Month TEXT,
    Active_Agents INTEGER,
    Registered_Accounts_Millions REAL,
    Cash_In_Out_Volume_Million REAL,
    Cash_In_Out_Value_Billions REAL
);
"""
cursor.execute(create_table_query)

Creating table in SQLite database...

In [12]:
# --- 4.3 Insert Data ---
print("\nInserting data into table...")
df.rename(columns={
    'Total Registered Mobile Money Accounts (Millions)': 'Registered_Accounts_Millions',
    'Total Agent Cash in Cash Out (Volume Million)': 'Cash_In_Out_Volume_Million',
    'Total Agent Cash in Cash Out (Value KSh billions)': 'Cash_In_Out_Value_Billions'
}, inplace=True)

df.to_sql('mobile_payments', conn, if_exists='replace', index=False)

conn.commit()

Inserting data into table...

In [13]:
# ==========================
# 5. Validate
# ==========================
print("\nValidation:")

Validation:

In [14]:
# --- 5.1 Row Count ---
row_count = pd.read_sql_query('SELECT COUNT(*) FROM mobile_payments', conn)
print(f"Total rows in database: {row_count.iloc[0,0]}")

Total rows in database: 216

In [15]:
# --- 5.2 Sample Query ---
sample_query = pd.read_sql_query('SELECT * FROM mobile_payments LIMIT 5;', conn)
display(sample_query)

# Close connection
conn.close()

print("\nETL Process Completed Successfully! üöÄ")

,Date,Year,Month,Active Agents,Registered_Accounts_Millions,Cash_In_Out_Volume_Million,Cash_In_Out_Value_Billions
0,2025-02-01 00:00:00,2025,February,394853,84.56,267.88,636.21
1,2025-01-01 00:00:00,2025,January,382873,83.40,294.62,697.51
2,2024-12-01 00:00:00,2024,December,381116,82.43,309.28,753.45
3,2024-11-01 00:00:00,2024,November,383624,81.55,297.02,707.27
4,2024-10-01 00:00:00,2024,October,358621,80.82,215.26,722.28

ETL Process Completed Successfully! üöÄ

# Important Scripts
# 1. Find the Month with the Highest Mobile Money Transactions

```sql
SELECT 
    Date, 
    "Total Agent Cash in Cash Out (Value KSh billions)" AS TotalTransactionValue
FROM 
    mobile_payments
ORDER BY 
    TotalTransactionValue DESC
LIMIT 1;
```
**Finds the "busiest" month by value!**  
(Where people moved the most money üìàüí∞)

---

# 2. See How Many Months Had Over 80 Million Accounts

```sql
SELECT 
    COUNT(*) AS MonthsOver80M
FROM 
    mobile_payments
WHERE 
    "Total Registered Mobile Money Accounts (Millions)" > 80;
```
üëâ **Shows how fast adoption is growing!** üöÄ

---

# 3. Group Transactions by Year ‚Äî Total Value per Year

```sql
SELECT 
    strftime('%Y', Date) AS Year, 
    SUM("Total Agent Cash in Cash Out (Value KSh billions)") AS TotalValuePerYear
FROM 
    mobile_payments
GROUP BY 
    Year
ORDER BY 
    Year;
```
 **You‚Äôll see year-by-year total money movement** 

---

# 4. Top 3 Months With the Most Active Agents

```sql
SELECT 
    Date, 
    "Active Agents"
FROM 
    mobile_payments
ORDER BY 
    "Active Agents" DESC
LIMIT 3;
```
 **Where agent network was strongest** (lots of shops, stalls, mpesa agents, etc.)

---

# 5. Find Months Where Transaction Volume Was LOW, But Value Was HIGH

(Interesting behavior: few transactions, huge amounts!)

```sql
SELECT 
    Date, 
    "Total Agent Cash in Cash Out (Volume Million)", 
    "Total Agent Cash in Cash Out (Value KSh billions)"
FROM 
    mobile_payments
WHERE 
    "Total Agent Cash in Cash Out (Volume Million)" < 100
    AND "Total Agent Cash in Cash Out (Value KSh billions)" > 500
ORDER BY 
    Date;
```
 **Low number of transactions, but each was BIG.** ü§ë

---

# 6. Calculate Average Cash Transaction per Volume

```sql
SELECT 
    Date,
    ROUND(("Total Agent Cash in Cash Out (Value KSh billions)" * 1000) / "Total Agent Cash in Cash Out (Volume Million)", 2) AS AvgValuePerTransaction_KSh
FROM 
    mobile_payments
ORDER BY 
    Date;
```
üëâ **Shows how much (on average) one mobile money transaction was worth.**  
(Fun if you want to know: was the average transaction KSh 1,000? 2,000?)

---

# 7. Fun SQL ‚Äî Emoji-Based Sentiment for Volume

Just for fun ‚Äî **put emojis** depending on how busy the month was!

```sql
SELECT 
    Date,
    "Total Agent Cash in Cash Out (Volume Million)",
    CASE 
        WHEN "Total Agent Cash in Cash Out (Volume Million)" >= 300 THEN 'üî•üî•'
        WHEN "Total Agent Cash in Cash Out (Volume Million)" BETWEEN 200 AND 299 THEN 'üöÄ'
        WHEN "Total Agent Cash in Cash Out (Volume Million)" BETWEEN 100 AND 199 THEN 'üëç'
        ELSE 'üò¥'
    END AS ActivityLevel
FROM 
    mobile_payments
ORDER BY 
    Date;
```
üëâ Adds **üî•, üöÄ, üëç, üò¥** depending on transaction activity!

---

# üßÆ 8. Serious Analytics ‚Äî Growth Rate of Registered Accounts (Month over Month)

```sql
WITH AccountsGrowth AS (
    SELECT 
        Date,
        "Total Registered Mobile Money Accounts (Millions)" AS Accounts,
        LAG("Total Registered Mobile Money Accounts (Millions)") OVER (ORDER BY Date) AS PreviousMonthAccounts
    FROM 
        mobile_payments
)
SELECT 
    Date,
    Accounts,
    ROUND(((Accounts - PreviousMonthAccounts) / PreviousMonthAccounts) * 100, 2) AS GrowthRatePercent
FROM 
    AccountsGrowth
WHERE 
    PreviousMonthAccounts IS NOT NULL;
```
üëâ **You see: each month, how much % growth in mobile account registrations happened!** üìà

---

#  BONUS: Colorful Output if Your DB Browser Supports it

You can tweak some SQL outputs to **color** high or low values, but DB Browser is basic ‚Äî  
if you later migrate to something like **DBeaver** or **DataGrip**, you can even **conditionally format outputs**.

---

#  How To Run These:

- Open **DB Browser for SQLite**.
- Open your `mobile_payments.db`.
- Click on **Execute SQL** tab.
- Paste any query from above.
- Click **Play ‚ñ∂Ô∏è**.

Boom!